* {
    margin: 0;
    padding: 0;
    background-color: #191919;
}

body {
    min-height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #191919;
}

.main-page1 {
    background-color: #191919;

}

.page1 {
    
    display: flex;

}

.page1-headline {

    overflow: hidden;
    
    margin-right: auto;
    color: rgb(207, 243, 77);
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-top: 18%;
    font-weight: 600;
    margin-left: 240px;
}

.page1-headline .text {
    position: relative;
    font-size: 42px;
    font-family: 'Abril';
    font-weight: 100;

}

.page1-headline .sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: (100%);
    }

    100% {
        left: 0%;
    }
}

.first-text,
.line1 {
    color: white;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(33, 33, 33);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(175, 173, 173);
}
nav ul li a:hover{
    color: chocolate;
}