*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.page1-headline{
    
    overflow: hidden; 
    height: 735px;  
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.page1-headline .text{
    position: relative;
    font-size: 42px;
    font-family: 'Abril';
    font-weight: 100;
    margin: ;
}
.page1-headline .text.first-text{
    
}
.page1-headline .sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: (100%);
    }
    100%{
        left: 0%;
    }
}